<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hide replies</title>
    <meta name="description" content="Generate a bearer token you can use with the Twitter API">
    <link id="favicon" rel="icon" href="https://abs.twimg.com/favicons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Hide replies
      </h1>
      <section>
        <p>
          Hides replies containing toxic language in your conversations.
        </p>
        <p>To begin, link your Twitter account to this example.</p>
      </section>
    </header>

    <main>
      <form action="/oauth">
        <button type="submit" id="submit" >Sign in with Twitter</button>
      </form>
      <p>This app stores no data, and it stops working after 15 minutes.</p>
    </main>

    <footer>
      <h4>
        What are you going to build next?
      </h4>
      <small>
        <a href="https://developer.twitter.com">Twitter Developer</a> | 
        <a href="https://t.co/labs">Twitter Developer Labs</a>
      </small>
    </footer>
    <script src="/client.js"></script>
  </body>
</html>
