<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hide replies — 🏈⚽🎾🕹👾</title>
    <meta name="description" content="Moderate replies with the help of an app and Twitter's ML.">
    <link id="favicon" rel="icon" href="https://abs.twimg.com/favicons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Sports coach — 🏈⚽🎾🕹👾
      </h1>
      <section>
        <p>
          Keep your conversation on topic! With <a target="_blank" href="https://developer.twitter.com">the new Twitter API</a>
          you can use Twitter's machine learning to detect the topic of a Tweet (regardless of its language) and hide Tweets that
          are not sports-related.
        </p>
        <p>To begin, link your Twitter account to this app.</p>
      </section>
    </header>

    <main>
      <form action="/oauth">
        <button type="submit" id="submit" >Sign in with Twitter</button>
      </form>
      <p>This app stores no data, and it stops working after 15 minutes.</p>
    </main>

    <footer>
      <h4>
        What are you going to build next?
      </h4>
      <small>
        <a href="https://developer.twitter.com">Twitter Developer</a>
      </small>
    </footer>
    <script src="/client.js"></script>
  </body>
</html>
