<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hide replies</title>
    <meta name="description" content="Detect and hide abusive replies to any of your tweets.">
    <link id="favicon" rel="icon" href="https://abs.twimg.com/favicons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Pet explorer
      </h1>
      <p>Make your pet related conversations more a-meow-zing. This app lets you manage replies that are not pet related, based on <a target="_blank" href="https://developer.twitter.com/en/docs/twitter-api/annotations">Tweet annotations</a> (Twitter's artificial intelligence to detect topic and entities of a Tweet).</p>
      <section>
        <h2>
          How to make Pet explorer work for you:
        </h2>
        <ol>
          <li>Ask your friends on Twitter to reply to your Tweet with a story, fact, or favorite pet name. There needs to be at least pet mentioned in their Tweet.</li>
          <li>Get the ID of your Tweet (on Twitter, click on <div aria-label="Share Tweet" style="display: inline-block;width:1rem;height:1rem"><svg viewBox="0 0 24 24" class="r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi"><g><path d="M17.53 7.47l-5-5c-.293-.293-.768-.293-1.06 0l-5 5c-.294.293-.294.768 0 1.06s.767.294 1.06 0l3.72-3.72V15c0 .414.336.75.75.75s.75-.336.75-.75V4.81l3.72 3.72c.146.147.338.22.53.22s.384-.072.53-.22c.293-.293.293-.767 0-1.06z"></path><path d="M19.708 21.944H4.292C3.028 21.944 2 20.916 2 19.652V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 .437.355.792.792.792h15.416c.437 0 .792-.355.792-.792V14c0-.414.336-.75.75-.75s.75.336.75.75v5.652c0 1.264-1.028 2.292-2.292 2.292z"></path></g></svg></div>, then paste it in the field below.</li>
          <li>If the Tweet has replies, it will show you whether it contains pet-related replies or not, based on Twitter's understanding of that reply.</li>
          <li>Hide and unhide replies following the app's suggestion.</li>
        </ok>
      </section>
      <section>
        <input aria-label="Paste a link to a Tweet" placeholder="Paste a link to a Tweet" id="tweet-url" /><button id="fetch">Fetch 🦴</button>
      </section>
    </header>

    <main class="replies-container">
    </main>

    <footer>
      <h4>
        What are you going to build next?
      </h4>
      <small>
        <a href="https://developer.twitter.com">Twitter Developer</a>
      </small>
    </footer>
  </body>
</html>
