<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hide replies</title>
    <meta name="description" content="Detect and hide abusive replies to any of your tweets.">
    <link id="favicon" rel="icon" href="https://abs.twimg.com/favicons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Pet explorer
      </h1>
      <p>Make your pet related conversations more a-meow-zing. This app lets you manage replies that are not pet related, based on <a target="_blank" href="https://developer.twitter.com/en/docs/twitter-api/annotations">Tweet annotations</a> (Twitter's artificial intelligence to detect topic and entities of a Tweet).</p>
      <section>
        <h2>
          How to make Pet explorer work for you:
        </h2>
        <ol>
          <li>Ask your friends on Twitter to reply to your Tweet with a story, fact, </li>
        </ok>
        <p>
          <b>Remember:</b> replies may contain sensitive content and language. Be careful when showing these replies.
        </p>
        <button id="moderate-stop">Stop hiding replies</button>
      </section>
    </header>

    <main class="replies-container">
    </main>

    <footer>
      <h4>
        What are you going to build next?
      </h4>
      <small>
        <a href="https://developer.twitter.com">Twitter Developer</a>
      </small>
    </footer>
  </body>
</html>
