<!DOCTYPE html>
<html lang="en">
  <head>
    <title>🟣 🚀</title>
    <link id="favicon" rel="icon" href="https://abs.twimg.com/favicons/favicon.ico" type="image/x-icon">
    <link rel="components" href="/components/components.js" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="/client.js"></script>
  </head>
  <body>
    <my-spaces></my-spaces>
    <script type="module">
      import { init } from 'https://cdn.jsdelivr.net/gh/iamdaniele/domo/domo.js';
      init(document.querySelector('my-spaces'));
    </script>
  </body>
</html>
