<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Trends</title>
    <link id="favicon" rel="icon" href="https://abs.twimg.com/favicons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <script src="/emitter.js"></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Trends
      </h1>
      <section e:class="TweetLink" class="tweet-url-container">
        <input e:keyup="validate" type="url" aria-label="Paste a link to a Tweet" placeholder="Paste a link to a Tweet" id="tweet-url" /><button disabled="true" e:click="fetch" id="fetch">Get Tweet</button>
      </section>
    </header>

    <main e:class="Tweet" class="tweet hidden" data-annotations-controls="false" data-accepts-data-from-api="true">
      
      <div class="tweet-wrapper">
        <div class="flex-container">
          <div><img class="profile-pic" /></div>
          <div class="grow"><div class="name">Name</div><div class="username">@username</div></div>
          <div><div style="width:2rem;height:2rem"><svg viewbox="0 0 24 24" style="color: #1da1f2;" ><g><path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z"></path></g></svg></div></div>
        </div>
        <h1>Tweet text</h1>
        <div class="flex-container">
          <div class="replies-count">11 replies</div>
          <div class="grow"></div>
          <div class="timestamp">March 7, 2020</div>
        </div>
      </div>
    </main>
    <section e:class="TrendsContainer">
      <template for="BigNumber">
        <div e:class="BigNumber">
          <div class="flex-container">
            <div>
              <h2></h2>
              <h4 class="trend"></h4>
            </div>
            <div class="grow"></div>
            <div class="chart"><div class="chart-container" e:class="Chart"></div></div>
          </div>
        </div>      
      </template>
    </section>
    <div e:class="ConversationContainer" class="hidden convo-container">
      <div class="conversation"></div>
      <div class="pagination flex-container">
        <div><h4>All caught up!</h4></div>
        <div class="grow"></div>
        <div><button e:click="refresh">Check for recent Tweets</button></div>
      </div>
    </div>
    <main e:class="ErrorMessage" e:click="dismiss" class="error hidden" data-message="resource-not-found">
      <p>🦗</p>
      <h1>Crickets</h1>
      <h4>We couldn't find this Tweet. Please try a different one.</h4>
      <button class="try-again">Try another Tweet</button>
    </main>
    <main e:class="ErrorMessage" e:click="dismiss" class="error hidden" data-message="tweet-too-old">
      <p>⏱️</p>
      <h1>Tweet too old</h1>
      <h4>This Tweet is too old. Try with something you Tweeted in the past 7 days.</h4>
      <button class="try-again">Try another Tweet</button>
    </main>
    <main e:class="ErrorMessage" e:click="dismiss" class="error hidden" data-message="not-authorized-for-resource">
      <p>🙈</p>
      <h1>That’s not your Tweet</h1>
      <h4>You can only manage replies to your conversations.</h4>
      <button class="try-again">Try another Tweet</button>
    </main>
    <main e:class="ErrorMessage" e:click="dismiss" class="error hidden" data-message="no-replies">
      <p>🙅</p>
      <h1>No replies yet</h1>
      <h4>This Tweet did not receive any replies… Yet. Try another Tweet or check back later.</h4>
      <button class="try-again">Try another Tweet</button>
    </main>
    <main e:class="ErrorMessage" e:click="dismiss" class="error hidden" data-message="api-error">
      <p>🐳</p>
      <h1>Oops</h1>
      <h4>Something’s not right with the Twitter API. You can check the <a target="_blank" href="https://api.twitterstat.us">platform status</a> or try again later.</h4>
      <button class="try-again">Try again</button>
    </main>
    <main e:class="ErrorMessage" e:click="dismiss" class="error hidden" data-message="other-error">
      <p>🐞</p>
      <h1>Something’s wrong</h1>
      <h4>This may be a bug, or you may have your cookies disabled. Try to authenticate again.</h4>
      <form action="/">
        <button>Restart</button>
      </form>
    </main>

    <footer>
      <h4>
        What are you going to build next?
      </h4>
      <small>
        <a href="https://developer.twitter.com">Twitter Developer</a>
      </small>
    </footer>
    <script>
      Emitter.init('/components/');
    </script>
  </body>
</html>
