:root {
  color-scheme: light dark;
}

.hidden {display:none}

body, input {
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue LT,Helvetica Neue,Segoe UI,Helvetica,Arial,sans-serif;
  line-height: 1.5rem;
  color: #434548; 
  margin: 2em;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #14171a;
}

a {
  color: #1da1f2;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

form {
  margin-bottom: 25px;
}

a.button, button {
  padding: .25em 1em;
  margin: 0;
  border: 2px solid #1da1f2;
  background-color: #1da1f2;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: .87rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  border-radius: 3rem;
  text-align: center;
  outline: 0;
}

button[disabled] {
  border: 2px solid lightgrey;
  background-color: lightgrey;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
  line-height: 1.5rem;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

input[type=url], input[type=url]:focus {
  border-radius: 0.2rem;
  padding: 0.5rem;
  width: 60%;
  border: 1px solid #d3d3d3;
  font-size: 1.5rem;
  line-height: 2rem;
  outline: none;
  margin: 1rem auto;
}

#tweet-url.error {
  border-color: red;
}

button { display: block; }

section input, section button, main.error button {
  display: block;
  margin: 1rem auto;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

main.error p,
main.error h1,
main.error h4,
main.error button  {
  display: block;
  margin: 4rem auto;
  text-align: center;
}

main.error p {
  font-size: 10em;
}

/* div.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

div.flex-container.hidden {display:none}

div.flex-container > div.grow {
  flex-grow: 2;
}
 */
main.tweet img.profile-pic { width: 48px;height: 48px; margin-right: 0.5rem;border-radius: 32px;}
main.tweet .name { font-weight: bold;}
main.tweet .annotations-controls {margin: 0.5rem}
main.tweet .related-label {line-height:2.2rem}


div.chart-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  height: 72px;
/*   width: 300px;
  max-width: 580px; */
  padding: 5px;
}

div.chart-container > div {
  background-color: DodgerBlue;
  width: 100px;
  margin: 1px;
  border-radius: 3px;
  text-align: center;
  font-size: 30px;
}

div.chart-container.down > div {
  background-color: #F94144;
}

div.chart-container.up > div {
  background-color: #43AA8B;
}

div.bignumber {
  max-width: 530px;
  margin: 20px auto;
  border-radius: 16px;
  border: 1px solid;
  padding: 10px;
  background: #000;
}

div.bignumber h2,
div.bignumber h4 {
  margin: 10px 5px;
}

div.bignumber .error,
div.bignumber .loading {
  text-align: center;
}

div.bignumber .error {
  display: none;
}

iframe {border-radius: 16px}

section[e\:class="TrendsContainer"] div.error {
  text-align: center;
}

div.histogram.selected {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, p {
    color: #aaa;
  }
  
  a:hover h2 {
    color: #1da1f2;
  }
}